{% extends 'main_page.html' %}

{% block content %}
    {% for comment in comments %}
        <div class="row">
{#            turn next line on in production ONLINE#}
            {{ comment.content }}
{#            turn next line on in dev on LAPTOP #}
{#            {{ comment }} #}
        </div>
    {% endfor %}

    <a href="{{ url_for('adder_page') }}" class="btn btn-success">Go To Adder Page</a>

    <div>
        <form action="." method="POST">
            <textarea name="contents" placeholder="Enter a comment" class="form-control"></textarea>
            <input type="submit" class="btn btn-success" value="Post comment">
        </form>
    </div>

{% endblock %}